body {
  background: hsl(243, 96%, 9%);
  color: white;
  font-family: sans-serif;
  padding-bottom: 100px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-left: 35px;
  padding-right: 35px;
}
.ctn-hourly::-webkit-scrollbar {
  width: 8px;
}
.ctn-hourly::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}
.ctn-hourly::-webkit-scrollbar-thumb {
  background: #b8b8b8;
  border-radius: 10px;
}
.ctn-hourly::-webkit-scrollbar-thumb:hover {
  background: #8f8f8f;
}
/* UNIT- DROPDOWN */
hr {
  width: 95%;
}
li {
  margin-top: 3px;
  margin-left: 0;
  list-style: none;
  font-size: 0.7rem;
  color: hsl(243, 23%, 30%);
}
.dropdown-unt{
  position: absolute;
  right: 40px;
  top: 72px;
  width: 12%;
  z-index: 1000;
  display: none;
  flex-direction: column;
  padding: 10px;
  border-radius: 8px;
  background-color:  hsl(243, 27%, 20%);
  box-shadow: 0 12px 32px rgba(147, 121, 251, 0.2);
}
.dropdown-unt.active {
  display: flex;
}
.drop-ut,
.drop-imperial{
  display: block;
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  margin-top: 3px;
  border-radius: 5px;
  padding: 8px;
  background-color: hsl(243, 23%, 24%);
}
.drop-ut.ticked::after {
  content: url(../images/icon-checkmark.svg);
  margin-left: 25px;
}

.drop-ut img {
  display: none;
}
.drop-ut img.active {
  display: block;
}
/*-----------*/
.units {
  padding: 8px;
  gap: 8px;
  background-color: hsl(245, 25%, 38%);
  display: flex;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
.first-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-btn {
  background-color: hsl(233, 67%, 56%);
  border: none;
  padding: 10px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
.input-search {
  padding: 10px;
  border: none;
  background-color: hsl(250, 6%, 84%);
  border-radius: 6px;
  width: 300px;
}

.country-time {
  display: flex;
  justify-content: space-between;
  width: 75%;
  background: url(../images/bg-today-large.svg) center/cover no-repeat;
  padding: 40px;
  border-radius: 15px;
}
/*.loading {
  width: 50px;
  height: 50px;
  animation: loadSpin 2s linear infinite;
}
@keyframes loadSpin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}*/
.degrees {
  display: flex;
  align-items: center;
}
.degrees img {
  width: 100px;
}
.degrees a {
  font-family: system-ui;
  font-size: 2.3rem;
  margin: 0;
}
.weather-section {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
}
.count-date h3 {
  font-size: 1.5rem;
  margin-bottom: 0px;
}
.count-date p {
  font-size: 0.8rem;
}
.atmosphere {
  display: flex;
  gap: 10px;
  width: 88%;
  margin-top: 15px;
}
.factors {
  width: 60%;
  padding: 10px;
  background-color: hsl(243, 27%, 20%);
  color: hsl(250, 6%, 84%);
  border-radius: 10px;
  border: 1px solid  hsl(244, 21%, 45%);
}
.factors p {
  margin: 0;
  font-size: 0.9rem;
}
.factors h2 {
  margin-bottom: 0;
  font-size: 1rem;
}
.right {
  width: 23%;
  background-color: hsl(243, 27%, 20%);
  padding: 20px;
  border-radius: 15px;
}
.left {
  width: 50%;
}
.ctn-hourly {
  overflow-y: auto;
  max-height: 470px;
  padding-right: 10px;
  box-sizing: content-box;
  border-radius: 10px;
}
.right-nav{
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.right-forecast {
  padding: 8px;
  gap: 10px;
  background-color: hsl(243, 23%, 30%);
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.8rem;
}
.hours {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hours img {
  width: 35px;
}
.hourly-forecast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  background-color: hsl(243, 23%, 30%);
  margin-top: 8px;
  border-radius: 15px;
}
.hourly-forecast a {
  font-size: 0.8rem;
}
.days {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: hsl(243, 27%, 20%);
  width: 65px;
  min-height: 70px;
  gap: 7px;
  border-radius: 10px;
  border: 1px solid  hsl(244, 21%, 45%);
}
.spanner{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.days img {
  width: 30px;
}
.weekday {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.relate {
  position: relative;
}
.day-drop {
  position: absolute;
  width: 100px;
  top: 30px;
  display: none;
  right: 10px;
  flex-direction: column;
  padding: 5px;
  border-radius: 8px;
  background-color:  hsl(243, 27%, 20%);
  box-shadow: 0 12px 32px rgba(147, 121, 251, 0.2);
  z-index: 100;
}
.day-drop.popor {
  display: block;
}
.diff-days {
  color: white;
  font-size: 0.8rem;
  margin-top: 3px;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px;
  width: 99%;
  border: 1px solid  hsl(244, 21%, 45%);
  background-color: hsl(243, 23%, 24%);
}
  .transition.hidden {
   opacity: 0;
   transform: translateY(60px); 
   transition: opacity 1.2s ease-out, transform 1.2s ease-out;
  }
  .transition.show {
    opacity: 1;
    transform: translateY(0);
  }
@media(max-width: 440px) {
  nav {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
  }
  .dropdown-unt {
    top: 60px;
    width: 50%;
    overflow-y: auto;
    height: 200px;
  }
  .drop-ut,
  .drop-imperial {
    font-size: 1rem;
    padding: 15px;
    margin-top: 5px;
  }
  .logo {
    width: 140px;
  }
  .units {
    padding: 9px;
    font-size: 1rem;
  }
  .input-search {
    width: 95%;
    height: 30px;
    border-radius: 20px;
  }
  .first-section h2 {
    font-size: 2rem;
    text-align: center;
  }
  .search-btn {
    width: 95%;
    font-size: 1.1rem;
  }
  .search-section {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .weather-section {
    flex-direction: column;
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .country-time {
    flex-direction: column;
    width: 96%;
    padding: 10px;
  }
  .count-date {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .count-date h3 {
    font-size: 2rem;
    font-weight: 700;
  }
  .count-date p {
    font-size: 1.3rem;
  }
  .degrees {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  .degrees a {
    font-size: 4rem;
    margin: 0;
  }
  .degrees img {
    width: 180px;
  }
  .atmosphere {
    display: grid;
    width: 95%;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
  }
  .atmosphere p {
    padding-left: 5px;
  }
  .factors {
   width: 90%;
   
  }

  .factors h2 {
    font-size: 1.6rem;
  }
  .factors p {
    font-size: 1rem;
  }
  .weekday {
    display: grid;
    grid-template-columns: 100px 100px 100px ;
    gap: 25px;
  }
  .days {
    width: 90%;
    height: 130px;
    gap: 12px;
  }
  .days a{
    font-size: 1.4rem;
  }
  .days img {
    width: 60px;
  }
  .spanner {
    font-size: 1rem;
  }
  .right {
    margin-top: 80px;
    margin-bottom: 100px;
    width: 90%;
  }
  .right p {
    font-size: 1.2rem;
  }
  .right-forecast {
    padding: 12px;
    font-size: 1.1rem;
  }
  .right-nav {
    margin-bottom: 30px;
  }
  .hourly-forecast {
    padding: 20px;
  }
  .hourly-forecast img {
    width: 52px;
  }
  .hourly-forecast a {
    font-size: 1.4rem;
  }
  .day-drop {
    width: 200px;
    height: 200px;
    overflow-y: auto;
  }
  .day-drop.popor {
    z-index: 10000;
    padding: 10px;
  }
  .diff-days{
    padding: 20px;
    font-size: 1.2rem;
  }
  
}